/*
Website Reset And Fix
*/
* {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  scroll-behavior: smooth;
}


ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}


// finsihed