// theme colors
$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

// color palette
$colors: (
    "primary":$primary,
    "secondary":$secondary,
    "error":$error,
    "info":$info,
    'Red' : #FF0000,
    'Pink' : #FFC0CB,
    'Purple' : #800080,
    'DeepPurple' : #673AB7,
    'Indigo' : #3F51B5,
    'Blue' : #0000FF,
    'LightBlue' : #87CEEB,
    'Cyan' : #00FFFF,
    'Teal' : #008080,
    'Green' : #008000,
    'LightGreen' : #90EE90,
    'Lime' : #00FF00,
    'Yellow' : #FFFF00,
    'Amber' : #FFBF00,
    'Orange' : #FFA500,
    'DeepOrange' : #FF4500,
    'Brown' : #A52A2A,
    'Grey' : #808080,
    'BlueGrey' : #607D8B,
    'Black' : #000000,
    'White' : #FFFFFF,
    'Ivory' : #FFFFF0,
    'Beige' : #F5F5DC,
    'Olive' : #808000,
    'Maroon' : #800000,
    'Gold' : #FFD700,
    'Silver' : #C0C0C0,
    'Bronze' : #CD7F32,
    'RoseGold' : #B76E79,
    'SkyBlue' : #87CEEB,
    'MidnightBlue' : #191970,
    'NavyBlue' : #000080,
    'Turquoise' : #40E0D0,
    'SlateGrey' : #708090,
    'Charcoal' : #36454F,
    'Coral' : #FF7F50,
    'Tomato' : #FF6347,
    'Salmon' : #FA8072,
    'Plum' : #DDA0DD,
    'Orchid' : #DA70D6,
    'Violet' : #EE82EE,
    'Fuchsia' : #FF00FF,
    'Lavender' : #E6E6FA,
    'Tan' : #D2B48C,
    'Khaki' : #F0E68C,
    'Cream' : #FFFDD0,
    'Mint' : #98FF98,
    'Jade' : #00A86B,
    'Aqua' : #00FFFF,
    'Sapphire' : #0F52BA,
    'Ruby' : #E0115F,
    'Emerald' : #50C878,
    'Amethyst' : #9966CC,
    'Topaz' : #FFC87C,
    'Pearl' : #EAE0C8,
    'Mahogany' : #C04000,
    'Teak' : #A3807B,
    'Fern' : #4F7942,
    'Moss' : #ADDFAD,
    'Slate' : #708090,
    'Cobalt' : #0047AB,
    'Pewter' : #A9A9A9,
    'Cherry' : #DE3163,
    'Raspberry' : #E30B5D,
    'Melon' : #FDBCB4,
    'Strawberry' : #FC5A8D,
    'Lemon' : #FFF700,
    'Honey' : #FFC30B,
    'Tangerine' : #FFA500,
    'Apricot' : #FBCEB1,
    'Peach' : #FFE5B4,
    'Almond' : #A38469,
    'Latte' : #C0A080,
    'Espresso' : #4B3621,
    'Mocha' : #8B4513,
    'Caramel' : #A9844F,
    'Champagne' : #F7E7CE,
    'Taupe' : #483C32,
    'Pomegranate' : #F34723,
    'Grape' : #6F2DA8,
    'Watermelon' : #FC6C85,
    'LimeGreen' : #32CD32,
    'SeaGreen' : #2E8B57,
    'OliveGreen' : #808000,
    'ForestGreen' : #228B22,
    'SpringGreen' : #00FF7F,
    'Denim' : #1560BD,
    'TealBlue' : #367588,
    'PowderBlue' : #B0E0E6,
    'RoyalBlue' : #4169E1,
    'Azure' : #007FFF,
    'IndigoDye' : #00416A,
    'NeonGreen' : #39FF14,
    'NeonPink' : #FF1493,
    'NeonOrange' : #FF4500,
    'NeonBlue' : #1E90FF,
    'Mustard' : #FFDB58,
    'PlumRed' : #8E4585,
    'Rust' : #B7410E,
    'Sand' : #C2B280,
);