@use 'sass:math';

$utilities: (
  "margin": ("m", (0, 1, 2, 4, 6, 8, 10)),
  "margin-left": ("ml", (0, 1, 2, 4, 6, 8, 10)),
  "margin-right": ("mr", (0, 1, 2, 4, 6, 8, 10)),
  "margin-top": ("mt", (0, 1, 2, 4, 6, 8, 10)),
  "margin-bottom": ("mb", (0, 1, 2, 4, 6, 8, 10)),
  "padding": ("p", (0, 1, 2, 4, 6, 8, 10)),
  "padding-left": ("pl", (0, 1, 2, 4, 6, 8, 10)),
  "padding-right": ("pr", (0, 1, 2, 4, 6, 8, 10)),
  "padding-top": ("pt", (0, 1, 2, 4, 6, 8, 10)),
  "padding-bottom": ("pb", (0, 1, 2, 4, 6, 8, 10)),
  "opacity": ("o", (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)),
  "border-radius": ("br", (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, circle)),
  "gap":("gap", (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)),
  "overflow": ("ov", (hidden visible scroll auto)),
  "display": ("d", (inline inline-block block grid table table-row table-cell flex inline-flex none)),
  "position": ("pos", (static relative absolute fixed sticky)),
  "flex-direction": ("flex-dir", (row row-reverse column column-reverse)),
  "flex-wrap": ("flex-wrap", (nowrap wrap wrap-reverse)),
  "flex-grow": ("flex-grow", (0, 1)),
  "flex-shrink": ("flex-shrink", (0, 1)),
  "justify-content": ("justify-content", (flex-start flex-end center space-between space-around)),
  "align-items": ("align-items", (flex-start flex-end center baseline stretch)),
  "align-self": ("align-self", (flex-start flex-end center baseline stretch)),
  "order": ("order", (0, 1, 2, 3, 4, 5, 6)),
  "flex": ("flex", (0, 1, auto)),
  "flex-basis": ("flex-basis", (0, 1, auto)),

);

$i: 0;

/*start*/
@each $property,
$map in $utilities {
  $prefix: nth($map, 1);
  $values: nth($map, 2);


  @each $v in $values {


    .#{$prefix}-#{$v} {
      @if (#{$prefix}=='m' or #{$prefix}=='ml' or #{$prefix}=='mr' or #{$prefix}=='mt' or #{$prefix}=='mb') {
        #{$property}: $base-margin*$v;
      }

      @else if(#{$prefix}=='p' or #{$prefix}=='pl' or #{$prefix}=='pr' or #{$prefix}=='pt' or #{$prefix}=='pb') {
        #{$property}: $base-padding*$v;
      }

      @else if(#{$prefix}=='o') {
        #{$property}: math.div($v, 10);
      }

      @else if(#{$prefix}=='br') {
        @if ($v ==circle) {
          #{$property}: percentage(.5);
        }

        @else {
          #{$property}: $base-border-radius*$v;
        }
      }

      @else if(#{$prefix}=='gap') {
        #{$property}: $base-gap*$v;
      }

      @else {
        #{$property}: $v;
      }
    }
  }
}


// finsihed